<ion-content>
  <form [formGroup]="tagsForm">
    <ion-list>
      <ion-item>
        <ion-input #tagName formControlName="tagName"
                   type="text" minlength="2" maxlength="30" required="required"
                   placeholder="Добавить новый тег"
                   [(ngModel)]="tagsForm.tagName"
                   (keyup.enter)="tagsForm.invalid || add()"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <ion-list no-lines>
    <ion-item *ngFor="let tag of tags" (click)="editMode(tag)">
      <span *ngIf="!isInEditMode(tag._id)" class="tag-label">{{tag.name}}</span>
      <input *ngIf="isInEditMode(tag._id)"
             required="required" minlength="2" maxlength="30" value="{{tag.name}}"
             [(ngModel)]="editableTagName"
      (keyup.enter)="updateTag()"/>
    </ion-item>
  </ion-list>
</ion-content>
