<ion-header>
  <ion-navbar>
    <ion-title>
      {{'PAGE.PURCHASES.PAGE_TITLE' | translate}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showTagsPopover()">
        <ion-badge color="danger" item-right>{{'PAGE.PURCHASES.TAGS' | translate}} ({{tags.length || 0}})</ion-badge>
      </button>
      <button ion-button icon-only (click)="addNew()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="purchases-content">

 <ion-item-group *ngFor="let group of groupedPurchases">
   <ion-item-divider light class="item-divider">
     <ion-icon name="calendar"></ion-icon>
     <span class="purchases-divider">{{group.header | date:'dd.MM.yyyy'}}</span>
     <span item-right>Сума</span>
   </ion-item-divider>
   <ion-item *ngFor="let purchase of group.collection" class="purchase-item">
     {{purchase.title}} <ion-badge item-right>{{purchase.amount}}</ion-badge>
   </ion-item>

  </ion-item-group>
</ion-content>
