<ion-header>
  <ion-navbar>
    <ion-title>
      {{'PAGE.PURCHASES.PAGE_TITLE' | translate}}
    </ion-title>
    <ion-buttons end>
      <button ion-button outline item-right icon-left (click)="showTagsPopover()">
        <ion-icon name="pricetag"></ion-icon>
        {{'PAGE.PURCHASES.TAGS' | translate}} ({{tags.length || 0}})
      </button>
      <button ion-button outline item-right icon-left (click)="addNew()">
        <ion-icon name="add"></ion-icon>
        {{'PAGE.PURCHASES.ADD_NEW' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="purchases-content">
  <ion-list>

    <ion-item *ngIf="isLoading" text-center>
      <ion-spinner></ion-spinner>
    </ion-item>

    <ion-item-group *ngFor="let group of groupedPurchases; let ind = index" no-lines>

      <ion-item-divider light class="item-divider" [class.first]="ind == 0">
        <ion-icon name="calendar"></ion-icon>
        <span class="purchases-divider">{{group.header | date:'dd.MM.yyyy'}}</span>
      </ion-item-divider>

      <ion-item-sliding #slidingItem *ngFor="let purchase of group.collection">

        <ion-item class="purchase-item" no-lines>
          <div>
            <ion-chip item-left class="amount-container">
              <ion-icon name="card"></ion-icon>
              <ion-label>{{purchase.amount}}</ion-label>
            </ion-chip>
            {{purchase.title}}
          </div>

          <div>
            <ion-badge item-right *ngFor="let tag of purchase.tags"> {{tag.name}}</ion-badge>
          </div>
        </ion-item>

        <ion-item-options>
          <button ion-button outline item-right icon-left (click)="edit(purchase, slidingItem)">
            <ion-icon name="create"></ion-icon>
            {{'PAGE.PURCHASES.EDIT' | translate}}
          </button>
          <button ion-button outline item-right icon-left (click)="remove(purchase, slidingItem)">
            <ion-icon name="trash"></ion-icon>
            {{'PAGE.PURCHASES.REMOVE' | translate}}
          </button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-item-group>
  </ion-list>
</ion-content>
